.apply-leave-container {
  max-width: 800px;
}


.leave-card {
  margin-bottom: 15px;
  width: 100%;
}

.leave-cards-wrapper {
  display: block;   /* Stack vertically */
}

.leave-card {
  width: 100%;
  margin-bottom: 15px;  /* Space between cards */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.leave-card.sick {
  background: #e3f2fd;   
  border: 2px solid #2196f3; 
}
.leave-card.casual {
  background: #e8f5e9;  
  border: 2px solid #43a047; 
}

.leave-card.annual {
  background: #fff3e0;  
    border: 2px solid #fb8c00; 
}
.leave-card h5 {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-section {
  background: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.nav-tabs {
  border-bottom: none; 
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-bottom: 5px;
}

.nav-tabs .nav-link {
  border: none; 
  color: #555;
  font-weight: 500;
  padding: 10px 15px;
  margin-right: 10px;
  border-radius: 0; 
  position: relative;
  transition: color 0.3s ease;
}


.nav-tabs .nav-link:hover {
  color: #0d6efd;
  border: none;
}
.nav-tabs .nav-link.active {
  color: #0d6efd;
  font-weight: 600;
  border: none;
}
.nav-tabs::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #0d6efd;
  transition: all 0.3s ease;
  border: none;
}

.nav-tabs .nav-link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #0d6efd;
  border: none;
}

.toast-message {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 250px;
  padding: 12px 18px;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  z-index: 2000;
  animation: slideIn 0.3s ease-out;
}

.toast-message.success {
  background-color: #28a745; 
  color:white;
}

.toast-message.error {
  background-color: #dc3545; 
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

